In [3]:
def fun():
    print "this is fun"
class emp:
    print "this is class"

this is class

In [3]:
def fun():
    print "my name is ramu"
class emp:
        print "my name is raju"

my name is raju

In [7]:
def fun():
    a=10
    b=20
    print "good morning all of you"
class emp:
        a1=30
        b1=40
        print "welcome to khyaathi institute"

welcome to khyaathi institute

In [9]:
def fun():
    a=10
    b=20
class emp:
    c=30
    d=40
    print "hi,good morning students"
    print "happy indepedence day"

hi,good morning students
happy indepedence day

In [11]:
class emp:
    name="kcr"
    age=60
    print name
    print age

kcr
60

In [21]:
class emp:
    name="kalyan babu"
    age=50
    print emp.name
    print emp.age

kalyan babu
50

In [24]:
name="ragavendra"
class emp:
    name="ramcharan"
print "name=",name
print "emp.nmae+",emp.name

name= ragavendra
emp.nmae+ ramcharan