In [2]:
# python nummber (integer,floating point,complex)


a=5
print " number is:%d "%a

 number is:5

In [3]:
a="hello world"
print "%s"%a

hello world

In [5]:
x=1.500000
print " %.2f "%x

 1.50

In [6]:
ramu=1.5
print " number is:%f"%ramu

 number is:1.500000

In [7]:
ramu=1.5
print " number is:%.2f"%ramu

 number is:1.50

In [8]:
a=2.5
print "number is:%f"%a

number is:2.500000

In [12]:
c=1+4j
print "number is:%d"%c

TypeError: %d format: a number is required, not complex

In [14]:
c=" 1+4j "
print "number is:%s"%c

number is: 1+4j

In [15]:
c=1+4j
print "number is:%f"%c

TypeError: float argument required, not complex

In [19]:
name= " ramudu "
age=18
height=5.6
place=" malleswaram "

print "name is:%s, age is:%d, height is:%.1f, place is:%s"%(name,age,height,place)

name is: ramudu , age is:18, height is:5.6, place is: malleswaram

In [20]:
name= " ramudu "
age=18
height=5.6
place=" malleswaram "

print "name is:%s\n, age is:%d\n, height is:%.1f\n, place is:%s\n"%(name,age,height,place)

name is: ramudu
, age is:18
, height is:5.6
, place is: malleswaram

In [21]:
name= " ramudu "
age=18
height=5.6
place=" malleswaram "

print "name is:%s\n age is:%d\n height is:%.1f\n place is:%s\n"%(name,age,height,place)

name is: ramudu
 age is:18
 height is:5.6
 place is: malleswaram

In [23]:
c="x+yj "
print c

 x+yj

In [26]:
a=" a+bj "
print a

 a+bj

In [29]:
#  python list

a=[1,2,3,4,5,6]
print a

[1, 2, 3, 4, 5, 6]

In [30]:
a=[1,2,3,4,5,6]
b=[10,11,12,13,14]
print a+b

[1, 2, 3, 4, 5, 6, 10, 11, 12, 13, 14]

In [32]:
a=["ramu,ragu,venu"]
print a

['ramu,ragu,venu']

In [36]:
a=["ramu,ragu,venu"]
print a[0]

ramu,ragu,venu

In [37]:
ramu=["venu,vimala,vishu"]
print ramu

['venu,vimala,vishu']

In [39]:
a=[1,2,3,4,5,6,7,8,9,10]

print ("a[2]=",a[2])

('a[2]=', 3)

In [40]:
a=[1,2,3,4,5,6,7,8,9,10]

print "a[2]=",a[2]

a[2]= 3

In [45]:
a=[1,2,3,4,5,6,7,8,9,10]

print "a[2]=",a[2]
print "a[0:3]=",a[0:3]
print "a[1:6]=",a[1:6]

a[2]= 3
a[0:3]= [1, 2, 3]
a[1:6]= [2, 3, 4, 5, 6]

In [48]:
a=[1,2,3,4,5,6,7,8,9,10]

print "a[4:9]=",a[4:9]

a[4:9]= [5, 6, 7, 8, 9]

In [50]:
a="hello"
print a

hello

In [55]:
a="yadagiri"
print a

yadagiri

In [68]:
#  Python Tuple

a=(0,1,2,3,4,5,6)
print type (a)
print a
print ("a[5:-4]=",a[5:-4])

<type 'tuple'>
(0, 1, 2, 3, 4, 5, 6)
('a[5:-4]=', ())

In [69]:

a=(0,1,2,3,4,5,6)
print type (a)
print a
print ("a[0:3]=",a[0:3])

<type 'tuple'>
(0, 1, 2, 3, 4, 5, 6)
('a[0:3]=', (0, 1, 2))

In [70]:

a=(0,1,2,3,4,5,6)
print type (a)
print a
print ("a[2:5]=",a[2:5])

<type 'tuple'>
(0, 1, 2, 3, 4, 5, 6)
('a[2:5]=', (2, 3, 4))

In [72]:
a="hello world"
print (a)

hello world

In [73]:
a="hello world"
print("a[4] = ", a[4])

('a[4] = ', 'o')

In [75]:
a="hello world"

print ("a[0]=",a[0])
print ("a[1]=",a[1])
print ("a[2]=",a[2])
print ("a[3]=",a[3])
print ("a[4]=",a[4])

('a[0]=', 'h')
('a[1]=', 'e')
('a[2]=', 'l')
('a[3]=', 'l')
('a[4]=', 'o')

In [76]:
# Python Set

a={1,2,3,4,5,6}
print ("a=",a)
print type (a)

('a=', set([1, 2, 3, 4, 5, 6]))
<type 'set'>

In [80]:
giri={"thirumal,ramu,nani,gopi"}
print ("giri=",giri)
print type(giri)

('giri=', set(['thirumal,ramu,nani,gopi']))
<type 'set'>

In [82]:
# Python Dictionary

d={1,"good"} 
print (d)

set([1, 'good'])

In [86]:
g={"raju,ramu,winner,jupally"}
print (g)
print type (a)

set(['raju,ramu,winner,jupally'])
<type 'set'>